<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mansopresk14.sampleexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".RightNavigation"
            android:label="@string/title_activity_right_navigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LeftNavigation"
            android:label="@string/title_activity_left_navigation"
            android:theme="@style/AppTheme" />
        <activity android:name=".BotomNavigator" />
        <activity android:name=".TopNavigation" />
        <activity android:name=".NavigationDrawers" />
        <activity android:name=".Url" />
        <activity android:name=".WebTypes" />
        <activity android:name=".Pdf"></activity>
    </application>

</manifest>